{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        {{ form_start(form) }}
    {% autoescape false %}
            <div id="tinyTitre">
                {{ form_row(form.titre) }}
                {{ form_errors(form.titre) }}
            </div>
            <div id="zoneTiny">
                {{ form_row(form.texte, {'attr': {'class': 'tiny'}}) }}
                {{ form_errors(form.texte) }}
            </div>
            <div id="tinyBoutonValider">
                {{ form_row(form.valider, {'attr': {'class': 'tinyValider'}}) }}
            </div>
        {{ form_end(form) }}
        {% endautoescape %}
    </div>
{% endblock %}
