{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">

        <div class="nouveauBillet">
            <a href="{{ path('nouveauBillet') }}">Ajouter un épisode</a>
        </div>
        <hr>
            <div id="corpAdmin">
                <h4 class="titreAdmin">Choix d'un épisode pour le modifier ou le supprimer</h4>
                <div id="admin-updateDelete">

                    <ol>
                    {% for episode in episodes %}
                        <a href="{{ path('updateBillet', {'id': episode.id}) }}">
                            <li>{{ episode.titre }}</li>
                        </a>
                    {% endfor %}
                    </ol>
                </div>
                <h4 class="titreAdmin">Liste des commentaires signalés</h4>
                <div id="admin-moderation">


                    {% for commentaire in commentaires %}
                        {% if commentaire.report == true %}
                            <div>
                                <div class="episode-auteur-commentaire">
                                <p>{{ commentaire.episode.titre }}</p>
                                <p>Commentaire de : <a href="{{ path('reponseComment', {'id': commentaire.id}) }}">
                                        {{ commentaire.auteur }}
                                    </a></p>
                                <p>{{ commentaire.texte }}</p>
                                </div>
                                <div class="boutonComment">
                                    <form action="{{ path('moderationComment', {'id': commentaire.id}) }}" method="post">
                                        <input type="submit" value="Supprimer" class="btn btn-danger" />

                                    </form>
                                    <form action="{{ path('moderationDontDeleteComment', {'id': commentaire.id}) }}" method="post">
                                        <input type="submit" value="Ne pas supprimer" class="btn btn-info" />

                                    </form>
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}
