{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">

        <div class="nouveauBillet">
            <a href="{{ path('nouveauBillet') }}">Ajouter un épisode</a>
        </div>
        <hr>
            <div id="corpAdmin">
                <div id="admin-updateDelete">
                    <h4>Choix d'un épisode pour le modifier ou le supprimer</h4>
                    <ol>
                    {% for episode in episodes %}
                        <a href="{{ path('updateBillet', {'id': episode.id}) }}">
                            <li>{{ episode.titre }}</li>
                        </a>
                    {% endfor %}
                    </ol>
                </div>

                <div id="admin-moderation">
                    <h4>Liste des commentaires signalés</h4>
                    <ol>
                    {% for commentaire in commentaires %}
                        {% if commentaire.report == true %}
                            <div>
                                <p>{{ commentaire.episode.titre }}</p>
                                <p>Commentaire de :</p>
                            <a href="{{ path('reponseComment', {'id': commentaire.id}) }}">
                                <li> {{ commentaire.auteur }}</li>
                            </a>

                                <form action="{{ path('moderationComment', {'id': commentaire.id}) }}" method="post">
                                    {# Ici j'ai écrit le bouton de soumission à la main #}
                                    <input type="submit" value="Supprimer" class="btn btn-danger" />

                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </ol>
                </div>
            </div>
    </div>

{% endblock %}
