{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}
    <div class="corp">
        <div id="formulaire">
            <h2>Connexion à la zone d'administration</h2>
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="flashMsg">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}

                {{ form_row(form.login) }}
                {{ form_errors(form.login) }}

                {{ form_row(form.mdp) }}
                {{ form_row(form.mdp) }}

                {{ form_row(form.valider) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
