{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        <div  id="episodeUnique">
            <div class="dernierEpisode">
                {% autoescape false %}
                    <h2>{{ episode.titre }}</h2>
                    <p class="publie">Publié le {{ episode.date|date('d-m-Y') }} à {{ episode.date|date('H:m') }}</p>
                    <p>{{ episode.texte }}</p>
                {% endautoescape %}
            </div>
        </div>

        <div class="commentaires">
            <h2>COMMENTAIRES</h2>

            <ul>
                {% include "/sousComment.html.twig" with {'comments': episode.commentaires, 'level': 0}
                only %}
            </ul>
<hr>
        </div>

        <div class="addComment">
            {{ form_start(form) }}
                {{ form_row(form.auteur) }}
                {{ form_errors(form.auteur) }}
                {{ form_row(form.texte) }}
                {{ form_errors(form.texte) }}
                {{ form_row(form.envoyer) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
