{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        <div  id="episodeUnique">
            <div class="dernierEpisode">
                {% autoescape false %}
                    <h2>{{ episode.titre }}</h2>
                    <p class="publie">Publié le {{ episode.date|date('d-m-Y') }} à {{ episode.date|date('H:m') }}</p>
                    <p>{{ episode.texte }}</p>
                {% endautoescape %}
            </div>
        </div>

        <div class="commentaires">
            <h2>COMMENTAIRES</h2>
            {% for commentaire in listComments %}
                <div>
                    <h3>{{ commentaire.auteur }}</h3>
                    <p class="publie"> Envoyé le : {{ commentaire.date|date('d-m-Y') }} à {{ commentaire.date|date('H:m') }}</p>
                    <p id="textCommentaire">{{ commentaire.texte }}</p>
                    {% if is_granted('ROLE_USER', 'ROLE_ADMIN') %}
                    <a href="{{ path('reponseComment', {'id': commentaire.id}) }}"><p>Répondre</p></a>
                    {% else %}
                        <p><a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> pour répondre</p>
                    {% endif %}
                    <a><p>Signler ce commentaire</p></a>

                    {{ commentaire.children|length }}
                </div>

            {% endfor %}

<hr>
        </div>
        {% if is_granted('ROLE_USER', 'ROLE_ADMIN') %}
        <div id="addComment">
            {{ form_start(form) }}
                {{ form_row(form.auteur) }}
                {{ form_errors(form.auteur) }}
                {{ form_row(form.texte) }}
                {{ form_errors(form.texte) }}
                {{ form_row(form.envoyer) }}
            {{ form_end(form) }}
        </div>
             {% else %}
                 <h2 class="mustBeConnect">Vous devez être <a href="{{ path('fos_user_security_login') }}">connecté(e)</a> pour ajouter un commentaire</h2>
        {% endif %}
    </div>
{% endblock %}
