{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}

    <div class="corp">
        <div  id="episodeUnique">
            <div class="dernierEpisode">
                {% autoescape false %}
                    <h2>{{ episode.titre }}</h2>
                    <p class="publie">Publié le {{ episode.date|date('d-m-Y') }} à {{ episode.date|date('H:m') }}</p>
                    <p>{{ episode.texte }}</p>
                {% endautoescape %}
            </div>
        </div>

        <div class="commentaires">
            <h2>COMMENTAIRES</h2>

            {% for commentaire in episode.commentaires %}

                <div class="commentParent">
                    <h3>{{ commentaire.auteur }}</h3>
                    <p class="publie"> Envoyé le : {{ commentaire.date|date('d-m-Y') }} à {{ commentaire.date|date('H:m') }}</p>
                    <p id="textCommentaire">{{ commentaire.texte }}</p>
<hr>
                    <span class="reponse-report">
                    <a href="{{ path('reponseComment', {'id': commentaire.id}) }}" class="repondre"><p>Répondre</p></a>

                    <a href="{{ path('report', {'id': commentaire.id}) }}" class="report"><p>Signaler ce commentaire</p></a>
                    </span>

                    {% for comment in commentaire.children %}
                        <div class="commentEnfant">
                            <h3>{{ comment.auteur }}</h3>
                            <p class="publie">Envoyé le : {{ comment.date|date('d-m-Y') }} à {{ comment.date|date('H:m') }}</p>
                            <p>{{ comment.texte }}</p>
                            <hr>
                            <span class="reponse-report">
                                <a href="{{ path('reponseComment', {'id': comment.id}) }}" class="repondre"><p>Répondre</p></a>

                                <a href="{{ path('report', {'id': comment.id}) }}" class="report"><p>Signaler ce commentaire</p></a>
                        </span>
                        </div>
                        {% for sousComment in comment.children %}
                            <div class="commentEnfant-enfant">
                                <h3>{{ sousComment.auteur }}</h3>
                                <p class="publie">Envoyé le : {{ sousComment.date|date('d-m-Y') }} à {{ sousComment.date|date('H:m') }}</p>
                                <p>{{ sousComment.texte }}</p>
                                <hr>
                                <span class="reponse-report">
                                    <a href="{{ path('reponseComment', {'id': sousComment.id}) }}" class="repondre"><p>Répondre</p></a>

                                    <a href="{{ path('report', {'id': sousComment.id}) }}" class="report"><p>Signaler ce commentaire</p></a>
                    </span>
                            </div>
                            {% for deuxiemeSousComment in sousComment.children %}
                                <div class="commentEnfant-enfant-enfant">
                                    <h3>{{ deuxiemeSousComment.auteur }}</h3>
                                    <p class="publie">Envoyé le : {{ deuxiemeSousComment.date|date('d-m-Y') }} à {{ sousComment.date|date('H:m') }}</p>
                                    <p>{{ deuxiemeSousComment.texte }}</p>
                                    <hr>
                                    <span class="reponse-report">
                                    <a href="{{ path('report', {'id': sousComment.id}) }}" class="report"><p>Signaler ce commentaire</p></a>
                    </span>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}

<hr>
        </div>

        <div id="addComment">
            {{ form_start(form) }}
                {{ form_row(form.auteur) }}
                {{ form_errors(form.auteur) }}
                {{ form_row(form.texte) }}
                {{ form_errors(form.texte) }}
                {{ form_row(form.envoyer) }}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
