{% extends "::layout.html.twig" %}

{%  block body %}
    {{ parent() }}
    <div class="corp">
    <div class="corpSection1">
        <section id="sectionDescription" class="col-md-12">
            <article>
                <h1>BILLET SIMPLE POUR L'ALASKA - LIVRE EPISODIQUE</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan sapien suscipit, vestibulum nunc eu, euismod est. Sed luctus ipsum mauris, eget sodales sem porta nec. Phasellus id augue pharetra, elementum dolor eget, vulputate leo. Aenean pretium pulvinar augue, vel feugiat diam mattis sit amet. Praesent dignissim non erat id iaculis. Nam viverra vehicula tempus. Proin felis lorem, lobortis ac mauris quis, sagittis iaculis tellus. Morbi vel nunc commodo magna mattis ullamcorper vitae vel justo. Nulla facilisi. Praesent pellentesque turpis pellentesque augue rutrum tincidunt. Donec in venenatis quam. Duis ultrices egestas eros, ac faucibus nulla posuere non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at nibh gravida, sollicitudin nunc et, mollis velit.
                </p>
            </article>
            <hr>
            <h2 id="titreDernierEpisode">Le dernier épisode</h2>
            <article class="dernierEpisode">
                {% autoescape false %}
                {% for episode in episode %}
                <h2>{{ episode.titre }}</h2>
                <p class="publie">Publié le : {{ episode.date|date('d-m-Y') }} </p>
                <p>
                    {{ episode.texte }}
                </p>
                <hr>
                <a href="{{ path('episode', {'id': episode.id}) }}"><p>Commenter</p></a>
                {% endfor %}
                {% endautoescape %}
            </article>
        </section>

        <section class="col-md-3">
            <div class="rectangle-right">
                <img src="{{ asset('images/businessman-310819_1280.png') }}" name="auteur" alt="auteur" id="photoAuteur">
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas accumsan sapien suscipit, vestibulum nunc eu, euismod est. Sed luctus ipsum mauris, eget sodales sem porta nec...
                </p>
                <a href="{{ path('apropos') }}"><p>En savoir plus</p></a>
            </div>
            <div class="rectangle-right">
                <h3>Les 3 derniers épisodes</h3>
                <ul>

                </ul>
            </div>
            <div class="rectangle-right">
                <h3>Le dernier commentaire</h3>
                <p>

                </p>
            </div>
            <div class="rectangle-right">
                <h3>Suivez moi sur le réseaux sociaux :</h3>
                <p>

                </p>
            </div>
        </section>

    </div>

    </div>
{% endblock %}
